<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PotatoBot Telegram Bridge</title>
    <link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
</head>
<body>
    <header>
        
    </header>

    <main role="main">
        @RenderBody()
    </main>

    <footer>

    </footer>

    <script src="~/js/index.js" asp-append-version="true" ></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>